In [9]:
import pandas as pd

pd.read_excel('_combined_datasets.xlsx', engine='openpyxl')

neighbourhood_households_amount = "houses"
neighbourhood_households_disposable_income = "household_disposable_income"

neighbourhood_housing_quality = "satisfaction_housing"
neighbourhood_shops = "shop_index"
neighbourhood_crime = "crime_index"
neighbourhood_nature = "nature_area_%"

target_neighbourhood_houses_sold = "houses_sold"
target_neighbourhood_houses_price = "average_house_price"
target_neighbourhood_satisfaction = "satisfaction_neighbourhood"
target_neighbourhood_sellers = "want_to_move_out_%"

,stadsdeel,population,houses,houses_sold,average_house_price,household_income,household_disposable_income,household_expenses,satisfaction_housing,satisfaction_neighbourhood,want_to_move_out_%,shop_index,crime_index,built-up_area_%,nature_area_%
0,Centrum,87310,54976,1470,735193,71391.0,44900,26491.0,0.79,0.81,0.4485,1.000000,0.615190,0.742792,0.257208
1,West,147421,80359,2799,523489,66063.0,37500,28563.0,0.76,0.77,0.5230,0.590831,0.554604,0.766051,0.233949
2,Nieuw-West,160124,69607,1387,434927,66930.0,36100,30830.0,0.75,0.68,0.5185,0.561268,0.606975,0.551185,0.448818
3,Zuid,146291,81860,2758,747390,87710.0,49800,37910.0,0.77,0.81,0.4955,0.771208,0.422753,0.708646,0.291354
4,Oost,142049,72396,1971,567228,73500.0,42100,31400.0,0.78,0.78,0.5185,0.459726,0.393692,0.432157,0.567839
5,Noord,99238,45981,953,471072,61560.0,35800,25760.0,0.76,0.73,0.4335,0.328192,0.546595,0.232827,0.767173
6,Zuidoost,89841,42001,685,323134,54998.0,31400,23598.0,0.75,0.71,0.4775,0.296058,0.960632,0.590609,0.409386